.concert-display {
  width: 100%;
  position: relative;
  z-index: 1;
}

.error-display {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 500px;
  text-align: center;
}

.concert-grid {
  width: 100%;
  max-width: 1340px;
  padding: 35px 15px 165px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-gap: 55px 0;
  justify-content: space-around;
  grid-auto-flow: dense;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.concert-display::before,
.error-display::before {
  background: 
  url(http://smedia.pnet-static.com/img/MSG1631.jpg-large);
  opacity: 0.65;
  filter: blur(8px);
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  top: -20px;
  background-size: 100%;
  background-position: 50% 40%;
  position: absolute;
  z-index: -1;
}
