$blue: #3eb4e0;

.song-table-container {
  height: auto;
  padding-bottom: 10px;
  width: 70vw;
  max-width: 800px;
  margin: 20px auto;
}

tr {
  background-color: rgba(245, 245, 245, 0.85);
  background-blend-mode: lighten;
}

.venue-info-container {
  background-color: rgba(58, 58, 58, 1);
  background-blend-mode: lighten;
  display: block;
  height: 171px;
  text-align: left;
  color: #FFFFFF;
}

.venue-info {
  display: inline-block;
}

.fa-chevron-left {
  border-radius: 20px;
  font-size: 60px;
  margin: 0 10px;
  margin-top: -75px;
  padding: 40px 40px;
  transition: color 1s,
              background-color 1s;
  vertical-align: middle;

  &:hover {
    color: $blue;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
  }

}

.venue-date,
.venue-name,
.venue-location {
  display: block;
  padding-left: 10px;
  text-align: left;
}

.venue-date {
  margin-bottom: 8px;
  padding-top: 20px;
}

.venue-name {
  font-size: 1.8rem;
  margin: 0;
}

.venue-location {
  margin-top: 8px;
  padding-bottom: 20px;
}

.song-table {
  border-spacing: 0 0;
  height: calc(100% - 180px);
  margin-bottom: 120px;
  width: 100%;
}

.song-table-row {
  text-align: left;
  font-size: 1.5rem;
  transition: color 300ms;

  &:hover {
    color: $blue;
    cursor: pointer;
  }

  &:hover .fa-play-circle {
    color: $blue;
    visibility: visible;
    opacity: 1;
  }    
}

.song-table-position, 
.song-table-title,
.song-table-duration {
  transition: border-bottom 500ms;
  border-bottom: 1px solid transparent;
  padding-top: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.song-table-position {
  padding-left: 12px;
  padding-right: 0px;
  width: 30px;
}

.song-table-title {
  padding-left: 10px;

  .fa-play-circle {
    visibility: hidden;
    opacity: 0;
    padding-right: 16px;
    transition: visibility 300ms ease-in,
                opacity 300ms ease-in;
    vertical-align: middle;
  }  
  
}

.song-table-duration {
  text-align: right;
  padding-right: 12px;
  width: 15%;
}

@media screen and (max-width: 900px) {
  .song-table-row {
    font-size: 1.2rem;
  }

  .fa-chevron-left {
    font-size: 40px;
    padding: 40px 20px;
  }

  .venue-name {
    font-size: 1.5rem;
  }

  .song-table-container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .venue-name {
    font-size: 1.2rem;
    width: 300px;
  }

  .song-table-container {
    width: 100%;
    margin-top: 0;
  }

  .song-table {
    margin-bottom: 90px;
  }
}

