* {
  box-sizing: border-box;
}

.concert { 
  overflow: hidden;
  height: 200px;
  width: 250px;
  color: black;
  border-radius: 3%;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0px auto;
  cursor: pointer;

  .fa-play-circle {
    opacity: 0;
    transition: .3s;
    z-index: 5;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.4rem;
    color: #fafafa;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  }

  .fa-play-circle:hover {
    transform: scale(1.1);
  }

  &:hover .fa-play-circle {
    opacity: 1;
    transition: .3s;
    font-size: 2.6rem;
  }

  &:hover .concert-image {
    filter: grayscale(0%) brightness(110%);
    transition: 0.4s;
  }
}


.concert-image {
  width: 160%;
  left: -85px;
  top: -5px;
  margin: 5px 5px 0px 5px;
  overflow: hidden;
  position: absolute;
  filter: grayscale(30%) brightness(90%);
  transition: 0.4s;
}

.concert-date,
.concert-location {
  font-size: .8em;
}

.concert-text-display {
  height: 80px;
  background: #3a3a3a;
  opacity: .9;
  z-index: 2;
  margin-top: 115px;
  width: 100%;
  color: #fafafa;
  padding: 5px auto auto 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  p {
    margin: 2px 0px 0px 5px;
    text-align: left;
  } 
}





