.audio-player {
  position: fixed;
  bottom: 0;
  background: #FFF;
  width: 100%;
  height: 120px;
}

.current-song-display {
  position: absolute;
  float: left;
  text-align: left;
  margin: 22px 20px 20px;
}

.audio-player-song {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.audio-player-song ~ p {
  margin-top: 0;
  margin-bottom: 5px;
}

video {
  display: none;
}

.audio-player-controls {
  margin: 0 auto;
}

.audio-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px;
  width: 600px;
}

.play-pause {
  margin: 5px 0 20px;
  width: 50px;
}

.seek-bar {
  -webkit-appearance: none;
  margin: 0;
  width: 500px;
}

.seek-bar::-webkit-slider-runnable-track {
  background: linear-gradient(#89dfff, #3eb4e0);
  height: 8px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 45px;
  width: 45px;
  background: url(https://www.svgrepo.com/show/93236/gazelle-running-silhouette.svg);
  background-size: cover;
  background-position: center;
  margin-top: -23px;
  cursor: pointer;
  transition: .2s;
}

.seek-bar::-webkit-slider-thumb:hover {
  transform: rotate(-6deg);
  transition: .2s;
}

.seek-bar:focus {
  outline: none;
}

.play-pause {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 4px solid #3eb4e0;
  outline: none;
  cursor: pointer;
  transition: .4s;
}

.play-pause:hover {
  transform: scale(1.05);
  border: 3.5px solid #89dfff;
  transition: .4s;
}

.play-pause:hover .fa-play,
.play-pause:hover .fa-pause,
.fa-step-backward:hover,
.fa-step-forward:hover {
  transform: scale(1.05);
  color: #89dfff;
  transition: .4s;
}

.fa-play {
  font-size: 1.5rem;
  margin-left: 5px;
  color: #3eb4e0;
  transition: .4s;
}

.fa-pause {
  font-size: 1.5rem;
  margin-left: 1px;
  color: #3eb4e0;
  transition: .4s;
}

.song-length {
  position: absolute;
  right: 10px;
  bottom: -21px;
}

.current-time {
  position: absolute;
  left: 10px;
  bottom: -21px;
}

.fa-step-forward,
.fa-step-backward {
  font-size: 1.5rem;
  margin: 0 20px;
  color: #3eb4e0;
  transition: .4s;
  cursor: pointer;
}