* {
  box-sizing: border-box;
}

.concert { 
  min-width: 200px;
  max-width: 250px;
  height: 330px;
  color: black;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0 2px 2px rgba(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.concert-image {
  width: 95%;
  height: 40%;
  margin: 5px 5px 0px 5px;
  overflow: hidden;
  /*z-index: 1;*/
}

.concert-button {
  width: 100px;
  height: 40px;
  background-color: #E9B0E7;
  border-radius: 10%;
  margin-bottom: 10px;
}
