.display-mode-none {
  display: none;
}

.song-table {
  height: 100%;
  padding: 12px 0;
  width: 100%;
}

.song-table-row {
  text-align: left;
  font-size: 1.5rem;
}

.song-table-row:hover {
  color: #6666ff;
  cursor: pointer;
  text-decoration: underline;
}

.far {
  font-size: 2rem;
  padding-top: 6px;
}

.song-table-position {
  padding-left: 5px;
}

.song-table-title {
  padding-left: 24px;
}

.song-table-duration {
  text-align: right;
}

